<a href="https://colab.research.google.com/github/AcetyleneEvk/ToLearning/blob/master/Colab's_New_Code_Editor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab's New Code Editor

Colab is moving to a new code editor which includes:
* Richer completions
* Additional keybinding options
* Improved accessibility

In [1]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20191009' #日期可自己改格式yyyyMMdd

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：

df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))
df


df[pd.to_numeric(df['成交筆數'], errors='coerce') > 800]

       證券代號   證券名稱       成交股數 成交筆數  ...  最後揭示賣價 最後揭示賣量     本益比 Unnamed: 16
14559  1321     大洋  1,881,000  859  ...   32.10      2    0.00         NaN
14642  1536     和大  1,450,000  835  ...  105.00    643   27.07         NaN
14663  1611     中電  3,350,000  952  ...   10.70    117   27.31         NaN
14700  1762    中化生  1,287,000  808  ...   33.35      1    9.54         NaN
14719  1909     榮成  2,044,000  825  ...   13.55     40  337.50         NaN
14833  2393     億光  1,458,000  926  ...   26.95      4   15.79         NaN
14988  2845    遠東銀  2,257,000  883  ...   11.95    228    9.67         NaN
15010  2889    國票金  2,593,000  811  ...   10.75    207   14.08         NaN
15028  2915    潤泰全  1,513,000  928  ...   69.70     62    4.13         NaN
15034  3003    健和興  1,330,000  891  ...   46.00     34   15.38         NaN
15036  3005     神基  1,983,000  948  ...   48.20     13   13.04         NaN
15044  3016     嘉晶  1,470,000  986  ...   48.25      2   47.67         NaN
15047  3019     亞光  1,252,000  960  ...   79.10      1   18.33         NaN
15070  3044     健鼎  1,469,000  814  ...  109.00     11   10.40         NaN
15087  3090    日電貿  1,179,000  877  ...   50.20      3    9.07         NaN
15109  3380     明泰  2,104,000  860  ...   23.55     49   57.44         NaN
15127  3530    晶相光  1,241,000  985  ...   98.70      6   57.49         NaN
15128  3532    台勝科  1,132,000  857  ...  107.00     76    9.15         NaN
15130  3535    晶彩科  1,690,000  820  ...   23.15     34    7.04         NaN
15149  3665  貿聯-KY  1,028,000  934  ...  206.00      4   14.23         NaN
15176  4155     訊映  1,616,000  910  ...   38.70     18   19.82         NaN
15211  4906     正文  1,716,000  802  ...   25.70      7   39.46         NaN
15215  4919     新唐  1,599,000  957  ...   49.65      2   18.24         NaN
15236  5203     訊連  1,077,000  928  ...   95.50      7   27.09         NaN
15240  5243  乙盛-KY  1,389,000  932  ...   36.40     14   12.49         NaN
15449  9910     豐泰  1,636,000  910  ...  218.00      2   23.44         NaN

[26 rows x 17 columns]