<a href="https://colab.research.google.com/github/AcetyleneEvk/ToLearning/blob/master/Colab's_New_Code_Editor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab's New Code Editor

Colab is moving to a new code editor which includes:
* Richer completions
* Additional keybinding options
* Improved accessibility

In [5]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20191008'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：

df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))
df


df[pd.to_numeric(df['成交筆數'], errors='coerce') > 800]

       證券代號   證券名稱       成交股數 成交筆數  ...  最後揭示賣價 最後揭示賣量     本益比 Unnamed: 16
14790  1310     台苯  2,022,092  868  ...   21.75     54   10.24         NaN
14881  1536     和大  1,542,625  910  ...  106.50     50   27.46         NaN
14888  1560     中砂  1,254,384  935  ...   63.50      4   14.60         NaN
14968  2014     中鴻  2,517,060  856  ...    9.45     26    7.44         NaN
14994  2106     建大  1,795,050  955  ...   30.70      1   33.01         NaN
15000  2201     裕隆  1,783,309  975  ...   19.30     41    0.00         NaN
15026  2328     廣宇  2,287,253  900  ...   23.30     14   10.62         NaN
15027  2329     華泰  2,046,873  897  ...   17.35      2   29.83         NaN
15039  2349     錸德  2,678,236  984  ...    8.63     43    0.00         NaN
15046  2357     華碩  1,149,512  910  ...  203.00     11   34.26         NaN
15055  2368    金像電  2,931,137  984  ...   13.80    341    0.00         NaN
15109  2444     兆勁  4,126,170  807  ...   21.65     37    0.00         NaN
15127  2467     志聖  1,582,530  886  ...   24.80     26    7.30         NaN
15177  2547    日勝生  1,941,008  907  ...   12.20    154    5.33         NaN
15187  2610     華航  3,815,649  944  ...    9.12     16   53.59         NaN
15210  2723  美食-KY  1,173,751  935  ...  150.50     21   22.87         NaN
15249  2889    國票金  4,721,781  956  ...   10.75    391   14.14         NaN
15275  3005     神基  1,566,343  947  ...   48.45     34   13.13         NaN
15286  3019     亞光  1,080,299  806  ...   80.50     13   18.65         NaN
15295  3029     零壹  1,631,246  902  ...   33.50     19   13.00         NaN
15304  3038     全台  2,070,004  807  ...   17.85     60   12.99         NaN
15310  3045    台灣大  1,664,394  854  ...  113.50    229   24.84         NaN
15325  3062     建漢  2,158,356  928  ...   17.75     15   45.38         NaN
15326  3090    日電貿  1,260,544  921  ...   49.95      1    9.05         NaN
15353  3419     譁裕  1,465,807  817  ...   17.75      2   65.56         NaN
15402  3708   上緯投控  1,308,927  862  ...   83.40      2    5.41         NaN
15408  4119     旭富  1,295,250  981  ...  104.00     46   14.72         NaN
15450  4906     正文  2,007,198  991  ...   25.80     29   39.69         NaN
15468  4968     立積  1,194,188  968  ...  193.50      2   81.78         NaN
15472  4994     傳奇  1,102,374  836  ...   97.60      1  171.05         NaN
15511  6005    群益證  7,085,108  992  ...    9.02    376   20.95         NaN
15586  6491     晶碩  1,081,150  935  ...  173.50      4   19.91         NaN

[32 rows x 17 columns]